<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="border-b border-gray-700">
        <div class="flex h-16 items-center justify-between px-4 sm:px-0">
          <div class="flex items-center">
            <!-- Logo -->
            <div class="shrink-0">
              <img class="size-8" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </div>

            <!-- Nav Link -->
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Unprocessed Page -->
                  <a href="/unprocessed" class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == '/unprocessed' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" aria-current="page">Unprocessed</a>
          
                  <!-- Recordings Page -->
                  <a href="/recordings" class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == '/recordings' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Recordings</a>
          
                  <!-- Dashboard / Home Page -->
                  <a href="/" class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == '/' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Dashboard</a>
              </div>
          </div>

          <div class="-mr-2 flex md:hidden">
            {% include 'partials/mobile/_mobile_menu_button.html' %}
          </div>

        </div>
      </div>
    </div>
    {% include 'partials/mobile/_mobile_menu.html' %}
  </nav>